<mat-toolbar color="primary">
  <span>
    <a routerLink="/show-posts" style="text-decoration: none; color: inherit;">Beca Connect</a>
  </span>

  <span *ngIf="isAuthenticated()"> | Welcome {{ loggedInUsername }}</span>

  <span class="example-spacer"></span>

  <button mat-button *ngIf="!isAuthenticated()" routerLink="/login">
    <mat-icon>login</mat-icon> Login
  </button>
  <button mat-button *ngIf="isAuthenticated()" (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button>

  <button mat-button routerLink="/register" *ngIf="!isAuthenticated()">
    <mat-icon>person_add</mat-icon> Register
  </button>

  <button *ngIf="isAuthenticated() && isAdmin()" mat-button routerLink="/create-post">Crear nuevo Post</button>
</mat-toolbar>

  <div class="floating-buttons">
    <button *ngIf="isAuthenticated()" class="mentor-toggle-btn" (click)="togglePanel('mentor')">
      <mat-icon>person</mat-icon> Perfil del Mentor
    </button>
    <button *ngIf="isAuthenticated()" class="mentor-toggle-btn" (click)="togglePanel('services')">
      <mat-icon>local_offer</mat-icon>  Nuestros Servicios
    </button>
    <button *ngIf="isAuthenticated()" class="mentor-toggle-btn" (click)="togglePanel('successStories')">
      <mat-icon>star</mat-icon> Casos de Éxito
    </button>
  </div>
  
  <!-- Panel del mentor -->
  <div *ngIf="isAuthenticated()" class="mentor-floating-panel" [ngClass]="{'open': isPanelOpen.mentor}">
    <div class="mentor-card">
      <img src="https://tse3.mm.bing.net/th?id=OIP.ETnZI3xhuo-0YHByx90i-AHaHa&w=474&h=474&c=7" alt="Arturo Gaijin" class="mentor-photo" />
      <div class="mentor-info">
        <h2>Arturo Gaijin</h2>
        <p>
          Con más de 10 años de experiencia, Arturo es un mentor experto en asesoría académica internacional. Su enfoque personalizado ha ayudado a estudiantes y profesionales a obtener becas y acceder a universidades de prestigio, combinando estrategias prácticas con su pasión por la educación.
        </p>
        <button class="mentor-contact-btn" (click)="contactMentor()">Contactar a Arturo</button>
      </div>
    </div>
  </div>

  <!-- Panel de Servicios -->
  <div *ngIf="isAuthenticated()" class="mentor-floating-panel" [ngClass]="{'open': isPanelOpen.services}">
    <div class="mentor-card">
      <div class="mentor-info">
      <h2>Servicios</h2>
      <ul>
        <li>Revisión de documentos (ensayos, cartas de motivación, CV).</li>
        <li>Preparación para entrevistas.</li>
        <li>Orientación académica y profesional.</li>
        <li>Guía estratégica para aplicaciones internacionales.</li>
        <li>Asesoramiento en planes de estudios personalizados.</li>
      </ul>
      <h3>¿Interesado en Nuestros Servicios?</h3>
      <p>
        Cada servicio es diseñado a la medida de tus necesidades. Contáctanos para obtener una cotización personalizada y empezar a trabajar en tu éxito académico.
      </p>
      <button class="mentor-contact-btn" (click)="contactMentor()">Solicitar Cotización</button></div>
    </div>
  </div>

  <!-- Panel de Historias de Éxito -->
  <div *ngIf="isAuthenticated()" class="mentor-floating-panel" [ngClass]="{'open': isPanelOpen.successStories}">
    <div class="mentor-card">
      <h2>Historias de Éxito</h2>
      <p>
        <strong>María López:</strong> Obtuvo una beca completa en Harvard University.<br />
        <strong>Juan Pérez:</strong> Ganó una beca para un máster en Oxford University.<br />
        <strong>Laura Sánchez:</strong> Estudió Ingeniería en MIT con financiamiento total.
      </p>
    </div>
  </div>

<router-outlet></router-outlet>
